{% extends 'base.html' %}

{% block content %}
<style>
    .button{
        margin-top: 15px;
        background-color: rgb(121, 121, 22);
        color:white;
        padding: 5px;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
</style>
<form method="POST" style='margin-left: 400px; font-size: 18px;' action="/add">
{% csrf_token %}
<lable>ID:</lable>
<div>{{ form.eid}}</div>
<lable>Name:</lable>
<div>{{ form.ename}}</div>
<lable>Password:</lable>
<div>{{ form.epassword}}</div>
<lable>Salary:</lable>
<div>{{ form.esalary}}</div>
<lable>Email:</lable>
<div>{{ form.eemail}}</div>
<lable>Contact:</lable>
<div>{{ form.econtact}}</div>
<div>
    <button class="button" type="submit">Add</button>
</div>
</form>
{% endblock %}